.priceBreakup {
  z-index: 1;
  margin-top: 15px;
}

.guestsMenu {
  z-index: 2;
  width: 200px;
  position: absolute;
  background-color: white;
  border-style: solid;
  border: 1px solid transparent;
  border-radius: 5px;
}

#reservationParent {
  position: absolute;
  top: 625px;
  right: 200px;
  height: 136.75%;
}

#reservation {
  position: sticky;
  top: 0;
  left: 0;
}

div #carouselContainer {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  overflow: auto;
  background-color: white;
  z-index: 5;
}

div#guestsDropdown {
  z-index: 4;
  border: 1px solid #e7e5e5;
  padding: 3px;
  height: 145px;
}

td.guestNumbers {
  padding: 0 0 0 10px;
}


Button.reserveButton {
  float: center;
  border-color:#888888 !important;
  box-shadow: 0.5px 0.5px 5px #888888;
  border-radius: 1px !important;
  height: 35px;
  width: 230px;
  position: relative;
  background-color: rgba(255, 0, 0, 0.75);
  font-weight: bold;
  color: white;
  margin: 0 3px;
}

div.guestsFrame {
  height: 20px;
  background-color: white;
  border-style: solid;
  border: 1px solid;
  border-radius: 5px;
  border-color: rgba(116, 95, 28, 0.781);
  text-align: left;
  margin-top: 3px;
  z-index: 2;
}

div.text {
  font: Circular;
  margin: 10px 0;
}

div.underReserve {
  margin: 10px 50px 100px 50px;
}

Button#adultMinus {
  margin: auto 1.25px auto auto;
}

#reviews {
  margin: 0 40px;
}

#afterReviews1 {
  height: 800px;
  width: 600px;
  margin: 90px 20px 80px 80px;
  float: left;
}

#afterReviews2 {
  height: 550px;
  width: 500px;
  margin: 0 10px 25px 120px;
}

#afterReviews3 {
  height: 375px;
  width: 500px;
  margin: 5px 0 20px 117px;
}

#afterReviews4 {
  height: 600px;
  width: 85%;
  margin: -95px 40px 0 150px;
}

.guestsFrame {
  border-color: rgba(0, 0, 0, 0.5);
}

div #PhotoService {
  position: relative;
  z-index: 2;
}

#recommendations {
  font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, Helvetica Neue, sans-serif;
  font-size: 14px;
  line-height: 1.43;
  color: #484848;
  background-color: #fff;
  margin: 100px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding-left: 30px;
  position: relative;
  z-index: -1;
}

#recommendations .title {
  overflow-wrap: break-word !important;
  font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif !important;
  font-size: 24px !important;
  font-weight: 600 !important;
  line-height: 1.25em !important;
  color: rgb(72, 72, 72) !important;
  margin: 2px 6px 0px 6px;
  padding-bottom: 20px;
  padding-left: 31px;
  padding-top: 25px;
}

#recommendations span .carousel {
  display: inline-block;
  margin: -30px -70px 10px -25px;
  position: relative !important;
}

#recommendations div .item {
  margin: 2px 6px 2px 6px;
  width: 300px;
  border: 30px;
  position: relative !important;
  overflow: hidden;
    overflow-x: hidden;
    overflow-y: hidden;
  text-overflow: ellipsis;
}

#recommendations .images {
  position: absolute !important;
  width: 1050px !important;
  height: 300px !important;
}

#recommendations .items {
  position: absolute !important;
  width: 1050px !important;
  height: 200px !important;
}

#recommendations .review {
  float: right
}

#recommendations .icon {
  display: inline-block;
  width: 12px !important;
  height: 12px !important;
  fill: #FF385C !important;
}

#recommendations .rating {
  font-weight: 400 !important;
  font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif !important;
}

#recommendations .line2.regularFont {
  white-space: nowrap;
}

#recommendations .regularFont {
  font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif !important;
  font-weight: 400 !important;
  color: rgb(34, 34, 34) !important;
  font-size: 16px !important;
  line-height: 20px !important;
}

#recommendations .price {
  font-weight: 800 !important;
}

#recommendations .greyFont {
  color: rgb(113, 113, 113) !important;
  font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif !important;
  font-weight: 400 !important;
}

#recommendations .listingCarousel {
  position: relative;
  padding-top: 75%;
  filter: drop-shadow(0 0 10px #0003);
  perspective: 100px;
}

#recommendations .image-slide {
  display: inline-block;
  margin: 2px 6px 30px 6px;
  width: 300px;
  border: 30px;
  position: relative !important;
	transition: background-image .3s ease-in-out;
}

#recommendations .slide-arrow.image {
	color: rgb(215, 217, 238);
	cursor: pointer;
	font-size: 1.5rem;
  display: inline-block;
  position: relative !important;
  z-index: 1;
  margin: 0px 0px 0px 0px;
  top: -95px;
}


#recommendations .slide-arrow.listing  {
  color: rgb(241, 0, 80);
  cursor: pointer;
  position: relative;
  z-index: 1;
  width: 4rem;
  height: 4rem;
  transform: translateY(-50%);
  border-radius: 50%;
  font-size: 1.5rem;;
  top: 59%;
  margin: 0px 0px 0px 0px;
}

#recommendations .slide-arrow.left.image {
	left: 2.5rem;
}

#recommendations .slide-arrow.right.image {
	right: 2.5rem;
}

#recommendations .slide-arrow.left.listing {
  left: 0.4rem;
  top: 8rem;
}

#recommendations .slide-arrow.right.listing {
  top: 4rem;
  right: -61rem;
}

#recommendations .favorite {
  top: 2.4rem;
  right: -18.3rem;
  position: relative;
}

._1li8g8e:hover {
  background-color: rgb(255, 255, 255) !important;
  color: rgb(0, 0, 0) !important;
  box-shadow: transparent 0px 0px 0px 1px, transparent 0px 0px 0px 4px, rgba(0, 0, 0, 0.12) 0px 6px 16px !important;
  transform: scale(1.04) !important;
  border-color: rgba(0, 0, 0, 0.08) !important;
}

._1li8g8e {
  -webkit-box-pack: center !important;
  -webkit-box-align: center !important;
  -webkit-appearance: none !important;
  display: inline-flex !important;
  color: rgb(34, 34, 34) !important;
  background-color: rgba(255, 255, 255, 0.9) !important;
  cursor: pointer !important;
  align-items: center !important;
  justify-content: center !important;
  background-clip: padding-box !important;
  box-shadow: transparent 0px 0px 0px 1px, transparent 0px 0px 0px 4px, rgba(0, 0, 0, 0.18) 0px 2px 4px !important;
  width: 32px !important;
  height: 32px !important;
  border-radius: 50% !important;
  border-image: initial !important;
  outline: 0px !important;
  margin: 0px !important;
  padding: 0px !important;
  border-style: solid !important;
  border-width: 1px !important;
  border-color: rgba(0, 0, 0, 0.08) !important;
  transition: box-shadow 0.2s ease 0s, -ms-transform 0.25s ease 0s, -webkit-transform 0.25s ease 0s, transform 0.25s ease 0s !important;
}

._1rp5252 {
  cursor: pointer !important;
  background-color: transparent !important;
  color: buttontext !important;
  display: block !important;
  border-width: 0px !important;
  border-style: initial !important;
  border-color: initial !important;
  border-image: initial !important;
}

._1tsvpuw {
  transform: translateY(0.5px) !important;
}

#recommendations button {
  display: none;
}

#recommendations .image:hover + button {
  -webkit-appearance: button;
  -webkit-writing-mode: horizontal-tb !important;
  text-rendering: auto;
  color: buttontext;
  letter-spacing: normal;
  word-spacing: normal;
  text-transform: none;
  text-indent: 0px;
  text-shadow: none;
  display: inline-block;
  text-align: center;
  align-items: flex-start;
  cursor: default;
  background-color: buttonface;
  box-sizing: border-box;
  margin: 0em;
  font: 400 11px system-ui;
  padding: 1px 7px 2px;
  border-width: 1px;
  border-style: solid;
  border-color: rgb(216, 216, 216) rgb(209, 209, 209) rgb(186, 186, 186);
  border-image: initial;
}

#recommendations img {
  border-radius: 6px;
  height: 200px;
  width: 300px;
}

#recommendations button {
  display: none;
}

#recommendations #listingContainer {
  border: 1px;
  position: absolute;
  height: 350px;
  width: 948px;
  top: 4128px;
  left: 200px;
  overflow: hidden;
}


#recommendations #listingContent {
  width: 948px;
  white-space: nowrap;
}


#recommendations span .singleListing {
  display: inline-block;
  margin: 2px 3px 2px 3px;
  border: 3px;
  position: relative !important;
}

#recommendations .title {
  margin-top: 50px;
}

#reviews #Hardcode1 {
  display: none;
}

#reviews #Hardcode2 {
  display: none;
}

#reviews #Hardcode3 {
  display: none;
}